{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container my-3">
        <section>
            <h2 class="border-bottom py-2">설문 목록</h2>
            <ul class="list-group">
            {% for question in question_list %}
                <li class="list-group-item">
                    <a href="{% url 'poll:detail' question.id %}">{{ question.question_text }}</a>
                </li>
            {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
